body {
    background: #fdc5f4;
    font-family: sans-serif;
    margin: 0;
  }
.card{
    background-color: rgb(245, 131, 245);
    width: 500px;
    height: 500px;
    margin: 16px auto;
    padding: 10px;
}
.head{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
}
.rcplst  {
    background-color: rgb(231, 71, 197);
    padding:10px ;
    align-content: center;
    margin: 0px 30px auto;

}
a {
    font-size: 25px;
    color: black;

}
p {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 500;
    height: auto;
}
ol li {
    color: blue;
    font-weight: 300;
}
ul li {
    color: green;
    font-weight: 300;
}
